<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/submit">
      <div class="form-group">
        <label for="Name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter Name"
          required
        />
      </div>
      <div class="form-group">
        <label for="Surname">Surname</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          name="surname"
          placeholder="Enter Surname"
          required
        />
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </body>
</html>
